<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Postinger</title>

        <link href="styles/styles.css" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
            rel="stylesheet"
        />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap"
            rel="stylesheet"
        />
    </head>
    <body>
        <div class="container">
            <div id="pageTitle">
                <h1 class="title">Postinger</h1>
            </div>

            <form id="postForm" action="/submit" method="post">
                <input
                    type="hidden"
                    name="originalPostId"
                    id="originalPostId"
                />
                <h3>Make a post</h3>
                <div id="postFormData">
                    <div class="fname-div">
                        <p>First name</p>
                        <input type="text" name="fname" />
                    </div>
                    <div class="lname-div">
                        <p>Last name</p>
                        <input type="text" name="lname" />
                    </div>
                </div>
                <div id="postFormText">
                    <p>What are you thinking?</p>
                    <textarea class="text-regular" name="ptext"></textarea>
                </div>
                <button type="submit">Post</button>
            </form>

            <% if(locals.postsToShow.length > 0) { %>
            <div class="posts">
                <h1>Home</h1>
                <p><%= locals.postsToShow.length %> post(s)</p>
                <% for (let i = locals.postsToShow.length - 1; i >= 0; i--) { %>
                <div class="post">
                    <div class="post-author">
                        <h3>
                            <%= locals.postsToShow[i].fname %> <%=
                            locals.postsToShow[i].lname %>
                        </h3>
                    </div>
                    <div class="post-content">
                        <p name="postContent">
                            <%= locals.postsToShow[i].ptext %>
                        </p>
                    </div>
                    <div class="post-buttons">
                        <button name="edit-button" data-id="<%= i %>">
                            Edit
                        </button>
                        <button name="delete-button" data-id="<%= i %>">
                            Delete
                        </button>
                    </div>
                </div>
                <% } %>
            </div>
            <% } else { %>
            <h3>It's so lonely here, post something!</h3>
            <% } %>
        </div>

        <div id="posts-data" style="display: none">
            <%- JSON.stringify(locals.postsToShow) %>
        </div>

        <form
            id="deleteForm"
            method="POST"
            action="/delete"
            style="display: none"
        >
            <input type="hidden" name="id" id="deleteId" />
        </form>

        <script src="functions/scripts.js"></script>
        <script>
            document.addEventListener("DOMContentLoaded", () => {
                const postsData = JSON.parse(
                    document.getElementById("posts-data").innerText
                );

                document
                    .querySelectorAll('button[name="edit-button"]')
                    .forEach((button) => {
                        button.addEventListener("click", () => {
                            const postId = button.getAttribute("data-id");
                            getPostData(postsData[postId], postId); // Pass postId to getPostData
                        });
                    });

                document
                    .querySelectorAll('button[name="delete-button"]')
                    .forEach((button) => {
                        button.addEventListener("click", () => {
                            const postId = button.getAttribute("data-id");
                            document.getElementById("deleteId").value = postId;
                            document.getElementById("deleteForm").submit();
                        });
                    });
            });
        </script>
    </body>
</html>